---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44"></section>
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
			Hey, I am Michel <div class="flex justify-center items-center"><Badge>Available for hire</Badge></div>
		</h1>
		<h2 class="text-xl">I am a dedicated Full Stack Software Engineer with hands-on experience in developing web
			applications using modern technologies such as React, Redux, Express, and Sequelize. 
			I am proficient in creating dynamic, user-friendly interfaces and ensuring seamless 
			functionality across the entire stack. From Miami, FL
		</h2>
	</main>
</Layout>
