---
 const personalImageAlt = "Michel Garcia";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Michel Garcia but my friends call me Mitch. I started in coding creating my first "Hello World App" when I was 14 years old in my birth country, Cuba.
      I am curently working for SMART Solutions as <strong>Full Stack Web Developer, creating custom CRM Solutions for small-mid businesses in South Florida, USA</strong>.
    </p>

    <p>
      Some of my achievements include <strong>completing a Bachelor Degree in Computer Science at University of Havana back in 2014</strong> and also <strong>have completed App Academy's Software Engineering Bootcamp as one of their top Students</strong>.
    </p>

    <p>
      I have experience working with <strong>React, Redux, Express, Sequelize, PostgreSQL, MongoDB, Node.js, and many other technologies</strong>. I am passionate about creating dynamic, user-friendly interfaces and ensuring seamless functionality across the entire stack.
    </p>
  </div>

  <img width="200" height="200" src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.6435-9/55554390_2256010704615107_1698325481536880640_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=NYnzTjrKtA0Q7kNvgE31jQa&_nc_ht=scontent-mia3-1.xx&_nc_gid=ACOQ3MM69gEIBcop6X4OExm&oh=00_AYBCaTiQPfxVds_DqQyPRL1VxBjqxnN0TWj-opL5aI0Nww&oe=6736ABD7" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
