---
import ExpItem from "./ExpItem.astro";

import Express from "../icons/Express.astro";
import Flask from "../icons/Flask.astro";
import JS from "../icons/JS.astro";
import NodeJS from "../icons/NodeJS.astro";
import Postgre from "../icons/Postgre.astro";
import React from "../icons/React.astro";
import Redux from "../icons/Redux.astro";
import Sequelize from "../icons/Sequelize.astro";
import Django from "../icons/Django.astro";
import SQLite from "../icons/SQLite.astro";
import Powershell from "../icons/Powershell.astro";
import SQL from "../icons/SQL.astro";
import Svelte from "../icons/Svelte.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import Firebase from "../icons/Firebase.astro";
import Angular from "../icons/Angular.astro";
import Material from "../icons/Material.astro";
import PHP from "../icons/PHP.astro";
import Android from "../icons/Android.astro";
import Git from "../icons/Git.astro";
import Wordpress from "../icons/Wordpress.astro";

const EXPERIENCE = [
  {
    date: "January 2025 - Today",
    title: "Senior Developer @ SMART Solutions",
    tags: [{icon: React}, {icon: Redux}, {icon: Express}, {icon: Sequelize}, {icon: Django}, {icon: Postgre}, {icon: SQLite}, {icon: Git}, {icon: Powershell}, {icon: Svelte}],
    description:
      "Managing a team of 5 developers and 2 designers. Led development teams in the software production process, including deployment of web applications built on Django/Python and Express/Sequelize Environments. Perform Unit Testing on new Features using Mocha, and Playwright, ensuring the quality of the codebase.",
  },
  {
    date: "June 2023 - January 2025",
    title: "Full Stack Web Developer @ SMART Solutions",
    tags: [{icon: React}, {icon: Redux}, {icon: Express}, {icon: Sequelize}, {icon: Django}, {icon: Postgre}, {icon: SQLite}, {icon: Git}],

    description:
      "Worked on development projects such as custom CRM systems for small companies. Built and maintained web applications using Django/Python and Express/Sequelize environments. Contributed to the deployment process, collaborated with team members across the software production lifecycle, and implemented unit testing for new features using Mocha and Playwright to ensure code quality.",
  },
  // {
  //   date: "January 2020 - June 2023",
  //   title: "Freelance Graphic Designer",
  //   description:
  //     "Branding and rebranding on major companies across Cuba and Miami, FL. Social media management and community for travel agencies and phone topup companies. Development of Content strategies for companies. Design of promotional pieces and signs.",
  // },
  {
    date: "January 2020 - June 2023",
    title: "Freelance Web Developer",
    tags: [{icon: JS}, {icon: NodeJS}, {icon: Express}, {icon: PHP}, {icon: Wordpress}, {icon: Bootstrap}, {icon: Material}, {icon: Firebase}, {icon: Angular}, {icon: Flask}, {icon: SQL}, {icon: Android}],

    description:
      "Development of custom web solutions for small businesses in Cuba and the United States. I have worked on projects ranging from static websites to full-stack web applications, including e-commerce platforms and content management systems.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExpItem {...experience} />
      </li>
    ))
  }
</ol>
