---
interface Tag {
  icon: any;
  name: string;
}

interface Props {
  title: string;
  description: string;
  date: string;
  tags: Tag[];
}

const { title, description, date, tags } = Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <!-- Timeline bullet -->
      <span class="absolute -left-[42px] text-orange-300 text-5xl rounded-full">&bull;</span>

      <h3 class="text-xl font-semibold text-orange-300">{title}</h3>
      <time class="m-0 p-0 text-sm text-gray-600/80 dark:text-white/80">
        {date}
      </time>

      <!-- Tags container -->
      <div class="mt-3 flex flex-row flex-wrap gap-2 mb-5">
        {
          tags.map((tag) => (
            <span class="flex items-center gap-x-2 rounded-full text-xs font-normal text-gray-700 dark:text-white/80 bg-gray-200 dark:bg-white/5 py-2 px-3">
              {tag.icon && <tag.icon class="size-4 md:size-4" />}
              {tag.name}
            </span>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">
    {description}
  </div>
</div>
